@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;700&family=Roboto:wght@100;300;700&display=swap");
@font-face {
  font-family: "Shrikhand";
  src: url(font/shrikhand/Shrikhand-Regular.ttf) format("truetype");
}
@media screen and (min-width: 280px) {
  body {
    font-family: "Roboto";
  }
}

@media screen and (min-width: 280px) {
  .title_shrikhand {
    font-family: "Shrikhand";
    font-size: 25px;
  }
}
@media screen and (min-width: 780px) {
  .title_shrikhand {
    margin-left: 70px;
  }
}

@media screen and (min-width: 280px) {
  .bloc_page {
    width: 100vw;
    margin: 0;
    padding: 0;
  }
}

@media screen and (min-width: 280px) {
  section {
    width: 100%;
  }
}
@media screen and (min-width: 780px) {
  section {
    width: 33%;
  }
}

@media screen and (min-width: 280px) {
  h2 {
    margin: 0;
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 10px;
  }
}

@media screen and (min-width: 280px) {
  p {
    margin: 0;
  }
}

@media screen and (min-width: 780px) {
  .main {
    display: flex;
    justify-content: center;
  }
}

/* Seul et unique bouton */ /* Colors */
/* Colors */ /* Seul et unique bouton */
/* page d'aceuille */
@media screen and (min-width: 280px) {
  .header {
    width: 100%;
  }
}

@media screen and (min-width: 280px) {
  .img_logo {
    width: 55%;
  }
}

@media screen and (min-width: 280px) {
  #logo_principal {
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
  }
}

@media screen and (min-width: 280px) {
  #location_bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eaeaea;
    box-shadow: inset #d1d1d1 0px 10px 10px 0px;
  }
}
@media screen and (min-width: 780px) {
  #location_bar {
    height: 70px;
  }
}

@media screen and (min-width: 280px) {
  #icon_location {
    font-size: 30px;
    margin-right: 10px;
  }
}

@media screen and (min-width: 280px) {
  .city {
    font-size: 30px;
  }
}

@media screen and (min-width: 280px) {
  #discover_restorant {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f6f6;
    text-align: center;
  }
}

@media screen and (min-width: 280px) {
  .text_light {
    font-weight: lighter;
  }
}

@media screen and (min-width: 280px) and (min-width: 280px) {
  .button_ {
    background: linear-gradient(#ff79da, #9356dc);
    border-radius: 35px;
    width: 90%;
    height: 70px;
    border: none;
    box-shadow: #d1d1d1 0px 6px 8px 0px;
    margin-top: 35px;
    margin-bottom: 35px;
    animation: button 3s;
  }
  .button_:hover {
    background: linear-gradient(#fda2e3, #ae76f2);
    box-shadow: #adacac 0 10px 12px 0;
  }
}
@media screen and (min-width: 280px) and (min-width: 780px) {
  .button_ {
    width: 30%;
  }
}

@media screen and (min-width: 280px) {
  .text_button {
    font-size: 20px;
    color: white;
  }
}

@media screen and (min-width: 280px) {
  #concept {
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 280px) {
  .concept_explan {
    width: 80%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #f6f6f6;
    box-shadow: #d1d1d1 0px 4px 8px 0px;
    position: relative;
  }
}
@media screen and (min-width: 780px) {
  .concept_explan {
    width: 35%;
  }
}

@media screen and (min-width: 280px) {
  .explan {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
}

@media screen and (min-width: 280px) {
  .number {
    background-color: #9356dc;
    border-radius: 50px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    left: -7%;
  }
}

@media screen and (min-width: 280px) {
  .icon_explan {
    font-size: 25px;
    display: flex;
    align-items: center;
  }
}

/* header page_autre */
@media screen and (min-width: 280px) {
  #logo {
    display: flex;
    align-items: center;
    margin: 20px 0 20px 0;
  }
}

@media screen and (min-width: 280px) {
  .img_logo_other {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 280px) {
  .go_back {
    font-size: 20px;
    margin-left: 10px;
    text-decoration: none;
    color: black;
  }
}
@media screen and (min-width: 780px) {
  .go_back {
    font-size: 30px;
  }
}

/* Seul et unique bouton */ /* Colors */
@media screen and (min-width: 280px) {
  .restorants {
    width: 100%;
    background-color: #f6f6f6;
    padding: 50px 0 50px 0;
  }
}
@media screen and (min-width: 780px) {
  .restorants {
    width: 80%;
    border-radius: 20px;
  }
}

@media screen and (min-width: 280px) {
  .anounce {
    width: 100%;
    height: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}
@media screen and (min-width: 780px) {
  .anounce {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    height: 700px;
  }
}

@media screen and (min-width: 280px) {
  .card_oppening {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 280px) {
  .lien {
    width: 100%;
    text-decoration: none;
    color: black;
  }
}
@media screen and (min-width: 780px) {
  .lien {
    width: 40%;
  }
}

@media screen and (min-width: 280px) {
  .article_restorant {
    width: 90%;
    height: 300px;
    position: relative;
    background-color: white;
    border-radius: 20px;
    box-shadow: #d1d1d1 0px 10px 20px 0px;
  }
}
@media screen and (min-width: 780px) {
  .article_restorant {
    width: 100%;
  }
}

@media screen and (min-width: 280px) {
  .img_restaurant {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
  }
}

@media screen and (min-width: 280px) {
  .new {
    width: auto;
    height: 10%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    top: 5%;
    right: 5%;
    background: #99e2d0;
  }
}

@media screen and (min-width: 280px) {
  .new_text {
    color: #058a69;
    font-size: 20px;
  }
}

@media screen and (min-width: 280px) {
  .article_description {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 80px;
    padding-left: 15px;
  }
}

@media screen and (min-width: 280px) {
  .like {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

@media screen and (min-width: 280px) {
  .heart1:hover {
    display: none;
  }
}

.heart2 {
  opacity: 0;
  margin-left: -30px;
  background: linear-gradient(to right, #ff79da, #9356dc);
  -moz-background-clip: text;
  background-clip: content-box;
  -webkit-background-clip: text;
  color: transparent;
}
.heart2:hover {
  opacity: 1;
}

@media screen and (min-width: 280px) {
  .footer {
    background-color: #353535;
    color: white;
    padding: 40px;
  }
  .footer ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

@media screen and (min-width: 280px) {
  .help {
    text-decoration: none;
    color: white;
  }
  .help:hover {
    color: #9356dc;
  }
}

@media screen and (min-width: 280px) {
  li {
    line-height: 30px;
  }
}

@keyframes selected {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes turn {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(2turn);
  }
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: rotate(720deg);
    opacity: 0;
  }
}
@keyframes opacity {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes movein {
  0% {
    margin-top: 130px;
    opacity: 0.2;
  }
  90% {
    opacity: 0.8;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}
@keyframes width {
  0% {
    width: 100%;
  }
  100% {
    width: 85%;
  }
}
@keyframes widthtitle {
  0% {
    width: 100%;
  }
  100% {
    width: 89%;
  }
}
@keyframes boutton {
  0% {
    background: linear-gradient(#ff79da, #9356dc);
    box-shadow: #d1d1d1 0px 6px 8px 0px;
  }
  100% {
    background: linear-gradient(#fda2e3, #ae76f2);
    box-shadow: #adacac 0 10px 12px 0;
  }
}
/* Colors */
@media screen and (min-width: 280px) {
  .img_back {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
}
@media screen and (min-width: 780px) {
  .img_back {
    height: 400px;
  }
}

@media screen and (min-width: 280px) {
  .bloc_choice {
    background-color: #f6f6f6;
    width: 100%;
    border-radius: 30px 30px 0 0;
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
}
@media screen and (min-width: 780px) {
  .bloc_choice {
    width: 80%;
    margin-top: -10%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
  }
}

@media screen and (min-width: 280px) {
  .all_menu {
    width: 100%;
  }
}
@media screen and (min-width: 780px) {
  .all_menu {
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (min-width: 280px) {
  .title_restorant {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
@media screen and (min-width: 780px) {
  .title_restorant {
    justify-content: space-between;
  }
}

@media screen and (min-width: 280px) {
  .like_other {
    font-size: 25px;
    display: flex;
  }
}

@media screen and (min-width: 280px) {
  .heart2_other {
    opacity: 0;
    margin-left: -25px;
    background: linear-gradient(to right, #ff79da, #9356dc);
    -moz-background-clip: text;
    background-clip: content-box;
    -webkit-background-clip: text;
    color: transparent;
  }
  .heart2_other:hover {
    opacity: 1;
  }
}

@media screen and (min-width: 280px) {
  .under_line {
    width: 15%;
    text-transform: uppercase;
    border-bottom: solid 2px #99e2d0;
    font-weight: lighter;
  }
}
@media screen and (min-width: 780px) {
  .under_line {
    width: 3%;
  }
}

@media screen and (min-width: 280px) {
  .carte {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    animation: movein 3s forwards;
  }
}

@media screen and (min-width: 280px) {
  .choice {
    background: white;
    width: 95%;
    border-radius: 20px;
    box-shadow: #d1d1d1 0px 10px 20px 0px;
    display: flex;
  }
  .choice:hover .choice__check_box {
    width: 30%;
    background: #99e2d0;
    border-radius: 0 20px 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scaleX(1);
  }
  .choice:hover .choice__check {
    background: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scaleX(1);
  }
  .choice:hover .check_icon {
    animation: turn 1s;
  }
  .choice:hover .choice_description {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 70%;
    animation: width 1s;
  }
  .choice:hover .description {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 85%;
    animation: width 1s;
  }
  .choice:hover h2 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 89%;
    animation: widthtitle 1s;
  }
}
@media screen and (min-width: 780px) {
  .choice {
    width: 100%;
  }
}

@media screen and (min-width: 280px) {
  .choice__check_box {
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 1s ease-in-out;
  }
}

@media screen and (min-width: 280px) {
  .choice__check {
    display: none;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 1s ease-in-out;
  }
}

@media screen and (min-width: 280px) {
  .check_icon {
    color: #99e2d0;
  }
}

@media screen and (min-width: 280px) {
  .description {
    width: 89%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
@media screen and (min-width: 780px) {
  .description {
    width: 100%;
  }
}

@media screen and (min-width: 280px) {
  .choice_description {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
    text-overflow: ellipsis;
    transform-origin: left;
    transition: transform 1s ease-in-out;
  }
}

@media screen and (min-width: 280px) {
  .ingrédients {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }
}

@media screen and (min-width: 280px) {
  .price {
    font-weight: bold;
  }
}

/* la note enchantée variente */
@media screen and (min-width: 280px) {
  .carte_only {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 300px;
    animation: movein 3s forwards;
  }
}

/* Colors */
@keyframes selected {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes turn {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(2turn);
  }
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: rotate(720deg);
    opacity: 0;
  }
}
@keyframes opacity {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes movein {
  0% {
    margin-top: 130px;
    opacity: 0.2;
  }
  90% {
    opacity: 0.8;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}
@keyframes width {
  0% {
    width: 100%;
  }
  100% {
    width: 85%;
  }
}
@keyframes widthtitle {
  0% {
    width: 100%;
  }
  100% {
    width: 89%;
  }
}
@keyframes boutton {
  0% {
    background: linear-gradient(#ff79da, #9356dc);
    box-shadow: #d1d1d1 0px 6px 8px 0px;
  }
  100% {
    background: linear-gradient(#fda2e3, #ae76f2);
    box-shadow: #adacac 0 10px 12px 0;
  }
}
/* loader page d'acceuil */
@media screen and (min-width: 280px) {
  .loader {
    width: 100%;
    height: 100%;
    margin-top: -25px;
    z-index: 999;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    background: linear-gradient(230deg, #9356dc, #ff79da, #99e2d0);
    animation: opacity 3s forwards;
  }
  .loader::before {
    content: " ";
    display: block;
    position: fixed;
    width: 90px;
    height: 90px;
    margin: 8px;
    border-radius: 50%;
    border: 10px solid white;
    border-color: white transparent white transparent;
    animation: loader 2800ms forwards;
  }
}

/* apparition menus */
@keyframes selected {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes turn {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(2turn);
  }
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: rotate(720deg);
    opacity: 0;
  }
}
@keyframes opacity {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes movein {
  0% {
    margin-top: 130px;
    opacity: 0.2;
  }
  90% {
    opacity: 0.8;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}
@keyframes width {
  0% {
    width: 100%;
  }
  100% {
    width: 85%;
  }
}
@keyframes widthtitle {
  0% {
    width: 100%;
  }
  100% {
    width: 89%;
  }
}
@keyframes boutton {
  0% {
    background: linear-gradient(#ff79da, #9356dc);
    box-shadow: #d1d1d1 0px 6px 8px 0px;
  }
  100% {
    background: linear-gradient(#fda2e3, #ae76f2);
    box-shadow: #adacac 0 10px 12px 0;
  }
}

/*# sourceMappingURL=style.css.map */
