/* Seul et unique footer */ 

.footer {
  @media screen and (min-width: 280px) {
    background-color: #353535;
    color: white;
    padding: 40px;
    ul {
      list-style-type: none;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      @media screen and (min-width: 780px) {
        flex-direction: row;
      }
    }
  }

}

.help {
  @media screen and (min-width: 280px) {
    text-decoration: none;
    color: white;
    &:hover {
      color: $color-first;
    }
  }
}

li {
  @media screen and (min-width: 280px) {
    line-height: 30px;
  }
}
