@import "../utils/keyframes";
@import "../utils/variables";

.img_back {
  @media screen and (min-width: 280px) {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  @media screen and (min-width: 780px) {
    height: 400px;
  }
}

.bloc_choice {
  @media screen and (min-width: 280px) {
    background-color: #f6f6f6;
    width: 100%;
    border-radius: 30px 30px 0 0;
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  @media screen and (min-width: 780px) {
    width: 80%;
    margin-top: -10%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
  }
}

.all_menu {
  @media screen and (min-width: 280px) {
    width: 100%;
  }
  @media screen and (min-width: 780px) {
    display: flex;
    justify-content: space-around;
  }
}

.title_restorant {
  @media screen and (min-width: 280px) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  @media screen and (min-width: 780px) {
    justify-content: space-between;
  }
}

.like_other {
  @media screen and (min-width: 280px) {
    font-size: 25px;
    display: flex;
  }
}

.heart2_other {
  @media screen and (min-width: 280px) {
    opacity: 0;
    margin-left: -25px;
    background: linear-gradient(to right, $color-second, $color-first);
    -moz-background-clip: text;
    background-clip: content-box;
    -webkit-background-clip: text;
    color: transparent;
    &:hover {
      opacity: 1;
    }
  }
}

.under_line {
  @media screen and (min-width: 280px) {
    width: 15%;
    text-transform: uppercase;
    border-bottom: solid 2px $color-third;
    font-weight: lighter;
    margin-left: 3%;
    margin-top: 50px;
  }
  @media screen and (min-width: 780px) {
    width: 3%;
    margin-top: 25px;
  }
}

.carte {
  @media screen and (min-width: 280px) {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    animation: movein 3s forwards;
  }
}

.choice {
  @media screen and (min-width: 280px) {
    background: white;
    width: 95%;
    border-radius: 20px;
    box-shadow: #d1d1d1 0px 10px 20px 0px;
    display: flex;
    &:hover {
      .choice__check_box {
        width: 30%;
        background: $color-third;
        border-radius: 0 20px 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scaleX(1);
        animation: check 1s;
      }
      .choice__check {
        background: white;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scaleX(1);
      }
      .check_icon {
        animation: turn 1s;
      }
      .choice_description {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 70%;
        animation: widthdescription 1s;
      }
      .ingrédients {
        width: 89%;
        animation: widthtitle 1s;
      }
      .description {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 85%;
        animation: width 1s;
      }
      h2 {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 89%;
        animation: widthtitle 1s;
      }
    }
  }
  @media screen and (min-width: 780px) {
    width: 100%;
  }
}

.choice__check_box {
  @media screen and (min-width: 280px) {
    transform-origin: right;
    transform: scaleX(0);
    transition: all 1s ease-in-out;
  }
}

.choice__check {
  @media screen and (min-width: 280px) {
    display: none;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 1s ease-in-out;
  }
}

.check_icon {
  @media screen and (min-width: 280px) {
    color: $color-third; 
  }
}

.description {
  @media screen and (min-width: 280px) {
    width: 89%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  @media screen and (min-width: 780px) {
    width: 100%;
  }
}

.choice_description {
  @media screen and (min-width: 280px) {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
    text-overflow: ellipsis;
  }
}

.ingrédients {
  @media screen and (min-width: 280px) {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }
}

.price {
  @media screen and (min-width: 280px) {
    font-weight: bold;
  }
}

/* la note enchantée variente */

.carte_only {
  @media screen and (min-width: 280px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 300px;
    animation: movein 3s forwards;
  }
}
