@keyframes selected {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

@keyframes turn {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(2turn);
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: rotate(720deg);
    opacity: 0;
  }
}

@keyframes opacity {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes movein {
  0% {
    margin-top: 130px;
    opacity: 0.2;
  }
  90% {
    opacity: 0.8;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}

@keyframes width {
  0% {
    width: 300px;
  }
  100% {
    width: 220px;
  }
}

@keyframes widthtitle {
  0% {
    width: 336px;
  }
  100% {
    width: 259px;
  }
}

@keyframes widthdesk {
  0% {
    width: 370px;
  }
  100% {
    width: 320px;
  }
}

@keyframes whidhtitledesk {
  0% {
    width: 360px;
  }
  100% {
    width: 300px;
  }
}

@keyframes boutton {
  0% {
    background: linear-gradient(#ff79da, #9356dc);
    box-shadow: #d1d1d1 0px 6px 8px 0px;
  }
  100%{
    background: linear-gradient(#fda2e3, #ae76f2);
    box-shadow: #adacac 0 10px 12px 0;
  }
}